@white: #dbd5e0;
@cream: #e1cea3;
@deep: #3b619a;
@air: #7ca3ba;
@blue: #00abbd;
@red: #92202a;
@pink: #c78093;
@green: #008867;
@yellow: #d09a2e;
@orange: #e78d5b;
@purple: #941678;

@white-50: #fdfdfd;
@white-100: #f9f8fa;
@white-200: #f2eff3;
@white-300: #eae7ed;
@white-400: #e3dee6;
@white-500: #dbd5e0;
@white-600: #c2b8ca;
@white-700: #a99ab5;
@white-800: #907d9f;
@white-900: #766386;
@white-950: #695877;

@cream-50: #f2ead7;
@cream-100: #f0e7d1;
@cream-200: #ece0c6;
@cream-300: #e9daba;
@cream-400: #e5d4af;
@cream-500: @cream;
@cream-600: #d6bc80;
@cream-700: #caa95e;
@cream-800: #bd963e;
@cream-900: #9a7a32;
@cream-950: #896d2d;

@deep-50: #7b9ccd;
@deep-100: #7295c9;
@deep-200: #6087c2;
@deep-300: #4d79bb;
@deep-400: #426dac;
@deep-500: @deep;
@deep-600: #35588b;
@deep-700: #304e7d;
@deep-800: #2a456e;
@deep-900: #243c5f;
@deep-950: #223758;

@air-50: #9ab8ca;
@air-100: #97b6c8;
@air-200: #90b1c5;
@air-300: #89acc1;
@air-400: #83a8be;
@air-500: @air;
@air-600: #6190ac;
@air-700: #4f7b96;
@air-800: #41657b;
@air-900: #334f60;
@air-950: #2c4453;

@blue-50: #03e7ff;
@blue-100: #00e2fa;
@blue-200: #00d5eb;
@blue-300: #00c7dc;
@blue-400: #00b9cc;
@blue-500: @blue;
@blue-600: #009dae;
@blue-700: #008f9e;
@blue-800: #00818f;
@blue-900: #007480;
@blue-950: #006d78;

@red-50: #d84d59;
@red-100: #d6424f;
@red-200: #d12e3c;
@red-300: #bc2936;
@red-400: #a72530;
@red-500: @red;
@red-600: #8a1e28;
@red-700: #811c25;
@red-800: #791a23;
@red-900: #711920;
@red-950: #6c181f;

@pink-50: #dcb0bc;
@pink-100: #daaab7;
@pink-200: #d5a0ae;
@pink-300: #d095a5;
@pink-400: #cc8b9c;
@pink-500: @pink;
@pink-600: #bc677e;
@pink-700: #b14e69;
@pink-800: #99435a;
@pink-900: #80384b;
@pink-950: #733344;

@green-50: #00e4ad;
@green-100: #00daa5;
@green-200: #00c595;
@green-300: #00b186;
@green-400: #009c76;
@green-500: @green;
@green-600: #00795b;
@green-700: #006950;
@green-800: #005a44;
@green-900: #004b39;
@green-950: #004333;

@yellow-50: #ddb566;
@yellow-100: #dcb25f;
@yellow-200: #d9ac53;
@yellow-300: #d6a646;
@yellow-400: #d3a03a;
@yellow-500: @yellow;
@yellow-600: #bb8b29;
@yellow-700: #a67b25;
@yellow-800: #916c20;
@yellow-900: #7c5c1c;
@yellow-950: #725419;

@orange-50: #f0b797;
@orange-100: #efb290;
@orange-200: #eda983;
@orange-300: #eba076;
@orange-400: #e99668;
@orange-500: @orange;
@orange-600: #e47e45;
@orange-700: #e06e2f;
@orange-800: #d6611f;
@orange-900: #c0571c;
@orange-950: #b5521a;

@purple-50: #e54fc3;
@purple-100: #e342bf;
@purple-200: #df27b6;
@purple-300: #c91ea3;
@purple-400: #af1a8e;
@purple-500: @purple;
@purple-600: #87146d;
@purple-700: #791262;
@purple-800: #6c1058;
@purple-900: #5f0e4d;
@purple-950: #580d47;
